<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AsclepiusLM</title>
    <link rel="icon" type="image/x-icon" href="static/icons/health-report.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=content_copy" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
    </style>
</head>
<body>

    <div class="left"> 
        <div class="logo">
            <h1 class="baskervville-sc-font">AsclepiusLM</h1>
            <div class="stripes">
                <svg>
                    <rect width="60" height="150" fill="#FF2323" />
                </svg>
                <svg>
                    <rect width="60" height="128" fill="#3B69FF" />
                </svg>
                <svg>
                    <rect width="60" height="90" fill="#0BAB00" />
                </svg>
                <img src="static/icons/rod.jpg" alt="rod-of-asclepius"/>
            </div>
        </div>
        <div class="stats">
            <p class="bellota-text-bold"> 
                Latency: 105 s
            </p>
        </div>
    </div>

    <div class="right">

        <div class="input">
            <textarea id="inputText" class="bellota-text-light" placeholder="Enter input text here" spellcheck="false"></textarea>
        </div>

        <div class="output">
            <div class="outputText">
                <p class="bellota-text-bold"></p> 
            </div>
        </div>
    </div>
    

    <div class="history" id="historyPanel">
        <div class="historyButton" id="toggleHistory">
            <i class="fa fa-history"></i>
        </div>
        <div class="historyBar">
            
            <!-- <p class="bellota-text-bold">NO HISTORY YET</p> -->

            <div class="pair">
                <div class="request">
                    <p></p>
                </div>
                <div class="response"> 
                    <p></p>
                </div>
                <div class="misc">
                    <p class="bellota-text-light">SAMPLE TIMESTAMP</p>
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                </div>
            </div>


            <div class="pair">
                <div class="request">
                    <p></p>
                </div>
                <div class="response">
                    <p></p>
                </div>
                <div class="misc">
                    <p class="bellota-text-light">SAMPLE TIMESTAMP</p>
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                </div>
            </div>



            <div class="pair">
                <div class="request">
                    <p></p>
                </div>
                <div class="response">
                    <p></p>
                </div>
                <div class="misc">
                    <p class="bellota-text-light">SAMPLE TIMESTAMP</p>
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                </div>
            </div>
        </div>
    </div>

    
    



    <script src="static/backend.js"></script>
</body>
</html>